# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
.venv/
venv/
env/

# Django
*.pyc
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db